form > label {
    display: block;
    margin-bottom: 10px;
}

form > label > input {
    margin-left: 10px;
}

#password {
    margin-left: 13px;
    padding-right: 3px;
}

#error {
    font-size: 1.2em;
    margin-bottom: 15px;
    border: 2px solid lightgray;
    width: 400px;
    padding: 10px;
}

#submit {
    margin-bottom: 10px;
}

h1 {
    font-size: 1.2em;
}