<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/styles.css">
    <title>Lab 10</title>
  </head>
  <body>
    <main>
      {{{body}}}
    </main>
  </body>
</html>