<div>
    {{#if error}}
        <div id="error"><p>{{error}} HTTP {{status}}</p></div>
    {{/if}}

    <h1>Signup</h1>

    <form id="signup-form" action="/signup" method="POST">
        <label>
            Username
          <input type="text" name="username" id="username"></textarea>
        </label>
        <label class="formLabel">
            Password
          <input type="text" name="password" id="password"></textarea>
        </label>
        <button type="submit" id="submit">Submit</button>
    </form>

    <a href="/">Already have an account? Click here to log-in</a>
</div>